body {
    margin: 0;
    padding: 0;
    background-color: black;

}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif, 微軟正黑體;
}

a {
    text-decoration: none;
    color: unset ;
}
a:hover {
    color: unset;
    text-decoration: none ;
}

#section1 {
    width: 100%;
    height: 100vh;
    position: relative;
}
.positionFixed{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 51;
}

@keyframes showit {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.mask {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 4;
    opacity: 0.8;
}

.mask-top {
    width: 100%;
    height: 65px;
    background-color: black;
    position: absolute;
    z-index: 3;
}

.mask-botton {
    width: 100%;
    height: 65px;
    background-color: black;
    position: absolute;
    bottom: 0;
    z-index: 3;
}

#opengif {
    width: 100%;
    height: 100vh;
    animation-name: fadeout;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
    background-image: url(../img/01-入場畫面/靈靈-gif.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// #player {
//     width: 100%;
//     height: 100%;
//     animation-name: fadeout;
//     animation-duration: 2s;
//     animation-delay: 3s;
//     animation-fill-mode: forwards;
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 2;
//     pointer-events: none;
// }

.pic {
    width: 100%;
    height: 100%;
    background-image: url(../img/01-入場畫面/openpic.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: showit;
    animation-duration: 2s;
    animation-delay: 6s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    animation-fill-mode: forwards;

    // @media (max-width:1900px){
    //     background-image: url(../img/01-入場畫面/opentest.png);
    // }

    // @media (max-width:1350px){
    //     background-image: url(../img/01-入場畫面/background-pad.jpg);
    // }

    @media (max-width:768px){
        background-image: url(../img/01-入場畫面/background-phone.jpg);
    }
}

.pic #number {
    color: white;
    font-family: "Franklin Gothic Heavy";
    font-size: 5.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -200%);
    @media (max-width:1900px){
        display: none;
    }
}

.fullpage {
    width: 100%;
    height: 100%;
    // @media (max-width:1900px){
    //     display: none;
    // }
}

#scene {
    overflow: hidden;
}

.avatar{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#avatar1{
    background-image: url(../img/01-入場畫面/avatar1.png);
    @media (max-width:768px){
        display: none !important;
    }
}
#avatar2{
    background-image: url(../img/01-入場畫面/avatar2.png);
    @media (max-width:768px){
        display: none !important;
    }
}
#avatar3{
    background-image: url(../img/01-入場畫面/avatar3.png);
    @media (max-width:768px){
        display: none !important;
    }
}
#avatar4{
    background-image: url(../img/01-入場畫面/avatar4.png);
    @media (max-width:768px){
        display: none !important;
    }
}
#avatar5{
    background-image: url(../img/01-入場畫面/avatar5.png);
    @media (max-width:768px){
        display: none !important;
    }
}
#avatar6{
    background-image: url(../img/01-入場畫面/avatar6.png);
    @media (max-width:768px){
        display: none !important;
    }
}
#avatar7{
    background-image: url(../img/01-入場畫面/avatar7.png);
    @media (max-width:768px){
        display: none !important;
    }
}
#avatar8{
    background-image: url(../img/01-入場畫面/avatar8.png);
    @media (max-width:768px){
        display: none !important;
    }
}
#avatar9{
    background-image: url(../img/01-入場畫面/avatar9.png);
    @media (max-width:768px){
        display: none !important;
    }
}
#avatar10{
    background-image: url(../img/01-入場畫面/avatar10.png);
    @media (max-width:768px){
        display: none !important;
    }
}




#scroll {
    position: absolute;
    top: 0;
    left: calc(50% - 40px);
    z-index: 99;
    animation-name: srollDown;
    animation-duration: 3s;
    animation-delay: 9s;
    animation-iteration-count: infinite;

    background-image: url(../img/01-入場畫面/scrolldown.png);
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 80px;
    opacity: 0;

    @media (max-width:768px) {
        width: 60px;
        height: 60px;
        left: calc(50% - 30px);
    }

    @media (max-width:470px) {
        animation-name: srollDown-470;
        animation-delay: 8s;
    }
    @media (max-width:410px) {
        animation-name: srollDown-410;
    }
    @media (max-width:375px) {
        animation-name: srollDown-470;
    }

}

// #scroll::before {
//     content: ' ';
//     width: 35px;
//     height: 5px;
//     background-color: white;
//     position: absolute;
//     top: 50px;
//     left: 15px;

//     transform: rotate(45deg);
// }

// #scroll::after {
//     content: ' ';
//     width: 35px;
//     height: 5px;
//     background-color: white;
//     position: absolute;
//     top: 50px;
//     right: 15px;

//     transform: rotate(-45deg);

// }


@keyframes srollDown {
    from {
        top: calc(83% - 40px);
        opacity: 1;
    }

    to {
        top: calc(87% - 40px);
        opacity: 0;
    }
}

@keyframes srollDown-470 {
    from {
        top: calc(75% - 30px);
        opacity: 1;
    }
    to {
        top: calc(80% - 30px);;
        opacity: 0;
    }
}
@keyframes srollDown-410 {
    from {
        top: calc(73% - 30px);
        opacity: 1;
    }
    to {
        top: calc(75% - 30px);
        opacity: 0;
    }
}




#section2 {
    width: 100%;
    height: 100vh;
    background-image: url("../img/02-首頁/index.jpg");
    background-size: cover;
    background-position: 54% 100%;
}

.nav-menu-color {
    background-color: rgba(255, 255, 255, 0.8) !important;
    height: 100vh;
    width: 200px;
}

.w-15 {
    width: 15% !important;
}

.border-none {
    border: none !important;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 51;
}

.nav-click {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 200px 200px 0;
    border-color: transparent rgba(31, 31, 31, 0.7) transparent transparent;
    opacity: 1;
    transition: 1.5s;
}


.opacity-0 {
    opacity: 0;
    transition: 0.3s;


}


.fl-r {
    float: right;
}

.navbar-toggler {

    right: -100px;
    top: 25px;
    z-index: 9;
}

.h-100 {
    height: 100vh;
}

.menu-click {
    height: 5%;
    width: 25%;
    cursor: pointer;
}

.border-back {
    width: 50px;
    height: 1px;
    border: black solid 2px;
    margin-bottom: 5px;
}

.h4 {
    padding: 10px;
}

.navbar-toggler-icon {
    width: 3em;
    height: 3em;
}

button {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 200px 200px 0;
    border-color: transparent rgba(31, 31, 31, 0.5) transparent transparent;
    position: relative;
}

.menu-logo {
    width: 200px;
    background-image: url("./img/logo.png");
}

.text-hover {
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-property: color;
    transition-property: color;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    z-index: 2;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.text-hover:after,
.text-hover:before {
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.text-hover:after {
    background-color: rgb(94, 44, 233);
}

.text-hover:before {
    background-color: rgb(94, 44, 233);
}

.text-hover:hover,
.text-hover:focus {
    outline: 0;
    cursor: pointer;
    color: rgb(94, 44, 233);
    -webkit-transition: color 0.7s ease-in-out;
    transition: color 0.7s ease-in-out;
}

.text-hover:hover:after,
.text-hover:focus:after {
    background-color: rgb(94, 44, 233);
}

.text-hover:hover:before,
.text-hover:focus:before {
    background-color: rgb(94, 44, 233);
}

.text-hover:hover:after,
.text-hover:focus:after,
.text-hover:hover:before,
.text-hover:focus:before {
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.text-hover-overline-goes-left-underline-goes-right:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition-property: 100px, rgb(94, 44, 233);
    transition-property: 100px, rgb(94, 44, 233);
    width: 0;
    height: 2px;
}

.text-hover-overline-goes-left-underline-goes-right:hover:after,
.text-hover-overline-goes-left-underline-goes-right:focus:after {
    outline: 0;
    -webkit-transition-property: 100px, rgb(94, 44, 233);
    transition-property: 100px, rgb(94, 44, 233);
    width: 100%;
}

.text-hover-overline-goes-left-underline-goes-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition-property: 100px, rgb(94, 44, 233);
    transition-property: 100px, rgb(94, 44, 233);
    width: 0;
    height: 2px;
}

.text-hover-overline-goes-left-underline-goes-right:hover:before,
.text-hover-overline-goes-left-underline-goes-right:focus:before {
    outline: 0;
    -webkit-transition-property: 100px, rgb(94, 44, 233);
    transition-property: 100px, rgb(94, 44, 233);
    width: 100%;
}

.text-hover-overline-goes-left-underline-goes-right:after {
    top: 0%;
    right: 0%;
}

.text-hover-overline-goes-left-underline-goes-right:before {
    bottom: 0%;
    left: 0%;
}

.game-play-intro {
    width: 100%;
    height: 100vh;
    background-image: url("../img/03-遊戲玩法/地形圖.jpg");
    background-position: 0 60%;
    background-size: cover;
    background-attachment: fixed;

}

.game-play-intro-transfer {
    width: 100%;
    height: 100vh;
    background-image: url("../img/03-遊戲玩法/遊戲介紹-背景模糊.png");
    background-position: 0 60%;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;

}

.game-play-intro-middle-sreen {
    width: 65%;
    height: 80%;
    background-image: url("../img/03-遊戲玩法/地形圖.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.game-play-intro.fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.game-play-intro.ab {
    position: absolute;
    bottom: 0;
}

.hero-intro {

    width: 100%;
    height: 100vh;
}

#section3 {
    position: relative;
    height: calc(100vh + 13000px);
}

.game-intro-title {
    font-size: 48px;
    border: white 2px solid;
    padding: 30px;
}

.black-mask {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.fort-red-ab {
    position: absolute;
    top: 110px;
    right: 165px;
    @media (max-width:1440px){
        top: 115px;
        right: 120px;
    }
}

.fort-blue-ab {
    position: absolute;
    top: 650px;
    left: 195px;
    @media (max-width:1440px){
        top: 515px;
        left: 145px;
    }
}

.red-team-ab {
    position: absolute;
    top: 100px;
    right: 160px;
    @media (max-width:1440px){
        top: 100px;
        right: 125px;
    }
}

.blue-team-ab {
    position: absolute;
    top: 130px;
    left: 180px;
    @media (max-width:1440px){
        top: 140px;
        left: 160px;
    }
}

.vs-description-style {
    background-color: rgba(252, 98, 98, 0.7);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.vs-description-ab {
    position: absolute;
    top: 700px;
    left: 600px;
    @media (max-width:1440px){
        top: 640px;
        left: 360px;
    }
}

.red-tower-left {
    position: absolute;
    top: 75px;
    right: 330px;
    @media (max-width:1440px){
        top: 85px;
        right: 248px;
    }
}

.red-tower-middle {
    position: absolute;
    top: 180px;
    right: 265px;
    @media (max-width:1440px){
        top: 155px;
        right: 195px;
    }
}

.red-tower-right {
    position: absolute;
    top: 220px;
    right: 112px;
    @media (max-width:1440px){
        top: 190px;
        right: 85px;
    }
}

.blue-tower-left {
    position: absolute;
    bottom: 170px;
    left: 140px;
    @media (max-width:1440px){
        bottom: 153px;
        left: 105px;
    }
}

.blue-tower-middle {
    position: absolute;
    bottom: 125px;
    left: 290px;
    @media (max-width:1440px){
        bottom: 120px;
        left: 220px;
    }
}

.blue-tower-right {
    position: absolute;
    bottom: 25px;
    left: 360px;
    @media (max-width:1440px){
        bottom: 45px;
        left: 268px;
    }
}

.blue-tower-middle-text {
    position: absolute;
    bottom: 140px;
    left: 280px;
    @media (max-width:1440px){
        bottom: 168px;
        left: 208px;
    }
}

.red-tower-middle-text {
    position: absolute;
    top: 193px;
    right: 250px;
    @media (max-width:1440px){
        top: 202px;
        right: 185px;
    }
}

.tower-intro {
    background-color: rgba(137, 223, 8, 0.8);
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 70%;
    text-align: center;
    @media (max-width:1440px){
        top: 60%;
    }
}

.defender-blue-left-ab {
    position: absolute;
    left: 135px;
    top: 430px;
    @media (max-width:1440px){
        left: 103px;
        top: 350px;
    }
}

.defender-blue-middle-ab {
    position: absolute;
    left: 412px;
    top: 535px;
    @media (max-width:1440px){
        left: 308px;
        top: 428px;
    }
}

.defender-blue-right-ab {
    position: absolute;
    left: 538px;
    top: 700px;
    @media (max-width:1440px){
        left: 403px;
        top: 552px;
    }
}

.defender-blue-left-outside-ab {
    position: absolute;
    left: 135px;
    top: 240px;
    @media (max-width:1440px){
        left: 102px;
        top: 205px;
    }
}

.defender-blue-middle-outside-ab {
    position: absolute;
    left: 495px;
    top: 450px;
    @media (max-width:1440px){
        left: 370px;
        top: 360px;
    }
}

.defender-blue-right-outside-ab {
    position: absolute;
    left: 830px;
    top: 700px;
    @media (max-width:1440px){
        left: 623px;
        top: 550px;
    }
}

.defender-red-left-ab {
    position: absolute;
    right: 510px;
    top: 75px;
    @media (max-width:1440px){
        right: 380px;
        top: 80px;
    }
}

.defender-red-middle-ab {
    position: absolute;
    right: 385px;
    top: 240px;
    @media (max-width:1440px){
        right: 288px;
        top: 210px;
    }
}

.defender-red-right-ab {
    position: absolute;
    right: 107px;
    top: 340px;
    @media (max-width:1440px){
        right: 80px;
        top: 285px;
    }
}

.defender-red-left-outside-ab {
    position: absolute;
    right: 803px;
    top: 75px;
    @media (max-width:1440px){
        right: 600px;
        top: 83px;
    }
}

.defender-red-middle-outside-ab {
    position: absolute;
    right: 465px;
    top: 330px;
    @media (max-width:1440px){
        right: 350px;
        top: 272px;
    }
}

.defender-red-right-outside-ab {
    position: absolute;
    right: 107px;
    top: 540px;
    @media (max-width:1440px){
        right: 82px;
        top: 430px;
    }
}

.defender-text-blue {
    position: absolute;
    left: 495px;
    top: 465px;
    @media (max-width:1440px){
        left: 370px;
        top: 345px;
    }
}

.defender-text-red {
    position: absolute;
    right: 465px;
    top: 345px;
    @media (max-width:1440px){
        right: 350px;
        top: 309px;
    }
}

.defender-intro {
    background-color: rgba(100, 217, 247, 0.8);
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    left: 10px;
    top: 17%;
    text-align: center;
    z-index: 20;
    @media (max-width:1440px){
        top: 5%;
    }
}

.bone-ab {
    position: absolute;
    left: 460px;
    top: 220px;
    @media (max-width:1440px){
        left: 335px;
        top: 195px;
    }
}

.bone-text {
    position: absolute;
    left: 467px;
    top: 255px;
    z-index: 2;
    @media (max-width:1440px){
        left: 340px;
        top: 230px;
    }
}

.caesar-ab {
    position: absolute;
    left: 335px;
    top: 270px;
    @media (max-width:1440px){
        left: 250px;
        top: 220px;
    }
}

.caesar-text {
    position: absolute;
    left: 352px;
    top: 330px;
    z-index: 2;
    @media (max-width:1440px){
        left: 240px;
        top: 260px;
    }
}

.magic-ab {
    position: absolute;
    right: 300px;
    top: 480px;
    @media (max-width:1440px){
        right: 230px;
        top: 390px;
    }
}

.magic-text {
    position: absolute;
    right: 318px;
    top: 540px;
    z-index: 2;
    @media (max-width:1440px){
        right: 220px;
        top: 435px;
    }
}

.bone-intro {
    background-color: rgba(29, 120, 206, 0.8);
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    right: 150px;
    top: 28%;
    text-align: center;
    @media (max-width:1440px){
        top: 20%;
    }
}

.caesar-intro {
    background-color: rgba(255, 246, 115, 0.8);
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    left: -20px;
    top: 48%;
    text-align: center;
    @media (max-width:1440px){
        left: 0;
    }
}

.magic-intro {
    background-color: rgba(91, 255, 154, 0.8);
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    right: 137px;
    top: 100%;
    text-align: center;
    @media (max-width:1440px){
        top: 105%;
    }
}

.soul-left-ab {
    position: absolute;
    left: 310px;
    top: 180px;
    @media (max-width:1440px){
        left: 232px;
        top: 160px;
    }
}

.soul-right-ab {
    position: absolute;
    right: 260px;
    top: 617px;
    @media (max-width:1440px){
        right: 193px;
        top: 485px;
    }
}

.soul-left-text {
    position: absolute;
    left: 290px;
    top: 220px;
    z-index: 2;
    @media (max-width:1440px){
        left: 215px;
        top: 133px;
    }
}

.soul-right-text {
    position: absolute;
    right: 240px;
    top: 657px;
    z-index: 2;
    @media (max-width:1440px){
        right: 177px;
        top: 525px;
    }
}

.soul-intro {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.cp-1-ab {
    position: absolute;
    left: 290px;
    top: 370px;
    @media (max-width:1440px){
        left: 225px;
        top: 305px;
    }
}

.cp-2-ab {
    position: absolute;
    left: 310px;
    top: 450px;
    @media (max-width:1440px){
        left: 230px;
        top: 370px;
    }
}

.cp-3-ab {
    position: absolute;
    left: 560px;
    top: 510px;
    @media (max-width:1440px){
        left: 420px;
        top: 410px;
    }
}

.cp-4-ab {
    position: absolute;
    left: 745px;
    top: 625px;
    @media (max-width:1440px){
        left: 470px;
        top: 460px;
    }
}

.cp-1-text {
    position: absolute;
    left: 235px;
    top: 385px;
    z-index: 2;
    @media (max-width:1440px){
        left: 225px;
        top: 285px;
    }
}

.cp-2-text {
    position: absolute;
    left: 252px;
    top: 465px;
    z-index: 2;
    @media (max-width:1440px){
        left: 230px;
        top: 415px;
    }
}

.cp-3-text {
    position: absolute;
    left: 615px;
    top: 525px;
    z-index: 2;
    @media (max-width:1440px){
        left: 420px;
        top: 390px;
    }
}

.cp-4-text {
    position: absolute;
    left: 800px;
    top: 642px;
    z-index: 2;
    @media (max-width:1440px){
        left: 470px;
        top: 504px;
    }
}

.cs-ab {
    position: absolute;
    left: 420px;
    top: 470px;
    @media (max-width:1440px){
        left: 320px;
        top: 375px;
    }
}

.cs-text {
    position: absolute;
    left: 420px;
    top: 550px;
    z-index: 2;
    @media (max-width:1440px){
        left: 320px;
        top: 375px;
    }
}

.cs-intro {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 800px;
    left: 100px;
    @media (max-width:1440px){
        left: 50px;
        top: 680px;
    }
}

.cp-intro {
    background-color: rgba(216, 142, 92, 0.8);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 550px;
}


////////// 這裡是section4-熱門英雄 //////////
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#section4 {
    position: relative;
    height: 6500px;
}

.skw-pages {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;
}

.skw-pages.fixed {
    position: fixed;
    left: 0;
    top: 0;
}

.skw-pages.ab {
    position: absolute;
    left: 0;
    bottom: 0;
}



$skewDeg: 18deg;
$magicVH: 32.4vh; // this number is magic and depends on skew angle
$scrollTime: 1s;

.skw-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    &__half {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100vh;
        transition: transform $scrollTime;

        &--left {
            left: 0;
            transform: translate3d(-$magicVH, 100%, 0);
        }

        &--right {
            left: 50%;
            transform: translate3d($magicVH, -100%, 0);
        }

        .skw-page.active & {
            transform: translate3d(0, 0, 0);
        }
    }

    &__skewed {
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 140%;
        height: 100%;
        transform: skewX($skewDeg * -1);
        background: #000;

        .skw-page__half--left & {
            left: -40%;
        }

        .skw-page__half--right & {
            right: -40%;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0 30%;
        color: #fff;
        transform: skewX($skewDeg);
        transition: transform $scrollTime, opacity $scrollTime;
        background-size: cover;

        .skw-page__half--left & {
            padding-left: 30%;
            padding-right: 30%;
            transform-origin: 100% 0;
        }

        .skw-page__half--right & {
            padding-left: 30%;
            padding-right: 30%;
            transform-origin: 0 100%;
        }

        .skw-page.inactive & {
            opacity: 0.5;
            transform: skewX($skewDeg) scale(0.95);
        }
    }

    &__heading {
        margin-bottom: 15px;
        text-transform: uppercase;
        font-size: 25px;
        text-align: center;
        @media (max-width:1440px){
            font-size: 20px;
        }
    }

    &__description {
        font-size: 18px;
        text-align: center;
    }

    &__link {
        color: #FFA0A0;
    }

    &-1 {
        .skw-page__half--left .skw-page__content {
            background-image: url('../img/04-熱門英雄介紹/弗洛倫-02.jpg');
            background-position: 60% 100%;
        }

        .skw-page__half--right .skw-page__content {
            background: lighten(rgb(245, 77, 77), 5%);
            box-shadow: inset -250px -30px 5em white, inset 0px 30px 5em white ;
        }
    }

    &-2 {
        .skw-page__half--left .skw-page__content {
            background: lighten(rgb(32, 15, 0), 5%);
            box-shadow: inset 0px -30px 5em white, inset 250px 30px 5em white ;
        }

        .skw-page__half--right .skw-page__content {
            background-image: url('../img/04-熱門英雄介紹/亥犽-02.jpg');
            background-position: 60% 100%;
            
        }
    }

    &-3 {
        .skw-page__half--left .skw-page__content {
            background-image: url('../img/04-熱門英雄介紹/狄拉克-02.jpg');
            background-position: 50% 100%;
        }

        .skw-page__half--right .skw-page__content {
            background: lighten(rgb(240, 206, 12), 5%);
            box-shadow: inset -250px -30px 5em white, inset 0px 30px 5em white ;
        }
    }

    &-4 {
        .skw-page__half--left .skw-page__content {
            background: lighten(rgb(36, 0, 56), 5%);
            box-shadow: inset 0px -30px 5em white, inset 250px 30px 5em white ;
        }

        .skw-page__half--right .skw-page__content {
            background-image: url('../img/04-熱門英雄介紹/刀鋒寶貝-05.jpg');
            background-position: 60% 100%;
            background-size: cover;
        }
    }

    &-5 {
        .skw-page__half--left .skw-page__content {
            background-image: url('../img/04-熱門英雄介紹/皮皮-02.jpg');
            background-position: 50% 100%;       
        }

        .skw-page__half--right .skw-page__content {
            background: lighten(rgb(75, 147, 165), 5%);
            box-shadow: inset -250px -30px 5em white, inset 0px 30px 5em white ;
        }
    }
}

.text-style {
    color: rgb(99, 47, 23);
    letter-spacing: 2px;
    text-shadow: white 0em 0em 0.5em;
    font-weight: bold;
}

.skw-page-2 .text-style {

    color: rgb(201, 198, 59);
    letter-spacing: 2px;
    text-shadow: white 0em 0em 0.5em;
    font-weight: bold;
}

@media (max-width:1440px){
    .skw-page-1 .skw-page__heading{
        width: 600px;
        position: relative;
        left: -250px;
    }
}

.skw-page-2 .skw-page__heading{
    width: 600px;
    position: relative;
    left: 20px;
    @media (max-width:1440px){
            left: 50px;
    }
}

.skw-page-3 .skw-page__heading{
    width: 600px;
    position: relative;
    right: 50px;
    @media (max-width:1440px){
        right: 200px;
    }
    
}

@media (max-width:1440px){
    .skw-page-4 .skw-page__heading{
        width: 600px;
        position: relative;
        left: calc(60% - 300px);
    }
}

@media (max-width:1440px){
    .skw-page-5 .skw-page__heading{
        width: 600px;
        position: relative;
        left: -160px;
    }
}

.skw-page-3 .text-style {

    color: rgb(15, 14, 102);
    letter-spacing: 2px;
    text-shadow: rgb(78, 44, 44) 0em 0em 0.5em;
    font-weight: bold;
}
.skw-page-4 .text-style {

    color: rgb(238, 30, 221);
    letter-spacing: 2px;
    text-shadow: rgb(255, 37, 37) 0em 0em 0.5em;
    font-weight: bold;
}
.skw-page-5 .text-style {

    color: rgb(27, 77, 48);
    letter-spacing: 2px;
    text-shadow: rgb(153, 248, 1) 0em 0em 0.5em;
    font-weight: bold;
}






////////// 這裡是section5-登入畫面 //////////

#section5 {
    height: calc(100vh - 92px);
    background-image: url(../img/08-登入頁面/模糊背景.jpg);
    background-position: center;
    background-size: cover;
    padding: 50px 0 0 0;
}


#section5 .slides .swiper {
    width: 100%;
    overflow: hidden;
}

#section5 .slides .swiper .swiper-container {
    width: 100%;
    height: 100%;
}

#section5 .slides .swiper .swiper-container .swiper-wrapper {
    transition-timing-function: linear;
}

#section5 .slides .swiper .swiper-container .swiper-slide {
    width: 9.375rem;
    height: 18rem;
    background-color: #999999;
    border: 1px solid black;
    filter: opacity(90%);
    position: relative;

    @media (max-width:1440px){
        height: 15rem;
    }
}

#section5 .slides .swiper .swiper-container .swiper-slide:hover {
    filter: opacity(100%);
}


// /* section5圖片區 */
// /* 第二行輪播圖 */
.line2pic1 {
    background: url("../img/08-登入頁面/伺服器維護公告-01.jpg") no-repeat center center;
    background-size: cover;
}

.line2pic2 {
    background: url("../img/08-登入頁面/系統公告-02.jpg") no-repeat center center;
    background-size: cover;
}

.line2pic3 {
    background: url("../img/08-登入頁面/賽事公告-02.jpg") no-repeat center center;
    background-size: cover;
}

.line2pic4 {
    background: url("../img/08-登入頁面/活動公告-05.jpg") no-repeat center center;
    background-size: cover;
}

.line2pic5 {
    background: url("../img/08-登入頁面/活動公告-06.jpg") no-repeat center center;
    background-size: cover;
}


/* 第一行輪播圖 */

.line1pic1 {
    background: url("../img/08-登入頁面/活動公告-03.jpg") no-repeat center center;
    background-size: cover;
}

.line1pic2 {
    background: url("../img/08-登入頁面/活動公告-02.jpg") no-repeat center center;
    background-size: cover;
}

.line1pic3 {
    background: url("../img/08-登入頁面/活動公告-01.jpg") no-repeat center center;
    background-size: cover;
}

.line1pic4 {
    background: url("../img/08-登入頁面/活動公告-04.jpg") no-repeat center center;
    background-size: cover;
}

.line1pic5 {
    background: url("../img/08-登入頁面/賽事公告-01.jpg") no-repeat center center;
    background-size: cover;
}


////////// 這裡是登入的button //////////

button {
    width: 100%;
    height: 100%;
}

.buttons {
    padding: 4.5% 20%;
    display: flex;
    justify-content: space-evenly;

    @media (max-width:1440px){
        padding: 2.5% 20%;
    }
}

#outside_btn {
    width: 250px;
    height: 100%;
    background-color: rgba(255, 200, 138, 0.74);
    color: rgb(88, 51, 20);
    font-family: "微軟正黑體";
    border: 3px solid rgba(255, 255, 255, 0.603);
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 0 0 2em rgb(255, 39, 10);

    @media (max-width:1440px){
        font-size: 25px;
    }
}


#modal1_background {
    width: 100%;
    height: 80vh;
    background-image: url(../img/08-登入頁面/羊皮紙02.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    box-shadow: inset 10px 10px 3em black, inset -10px 10px 3em black, inset -5px -30px 5em black;
}


// 5/1問老師：RWD的時候 X有問題
#test_X_position {
    position: relative;
}

#test_X_position .close {
    position: absolute;
    right: -500px;
    top: -40px;
    font-size: 100px;
}



////////// 這裡是登入的內文 //////////
.modal_text1 {
    font-size: 30px;
    font-weight: 900;
}

form {
    font-size: 20px;
}

input {
    background-color: rgba(240, 185, 130, 0.582);
}




////////// 這裡是登入內的button //////////
.mid_btn {
    width: 70%;
    height: 100%;
    background-color: #455555;
    color: black;
    font-family: "微軟正黑體";
    border: 3px solid rgba(255, 255, 255, 0.603);
    font-size: 30px;
    border-radius: 5px;
}

#mid_btn3 {
    width: 80%;
    height: 100%;
    color: rgb(23, 97, 167);
}





.modal-header {
    border-bottom: unset;
    margin: auto;
}

.modal-footer {
    border-top: unset;
}








////////// 這裡是footer //////////

footer {
    width: 100%;
    background-color: #0a1124;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

#footer_text {
    width: 380px;
}

#footer_text :nth-child(3) {
    color: #38a0f9;
}

footer p {
    margin-bottom: 0;
    color: gray;
    text-align: center;
}