@charset "UTF-8";
.section {
  width: 100%;
  height: 100vh;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #15181A;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#section4 {
  position: relative;
  height: calc(100vh + 5000px);
}

.skw-pages {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100%;
}

.skw-pages.fixed {
  position: fixed;
  left: 0;
  top: 0;
}

.skw-pages.ab {
  position: absolute;
  left: 0;
  bottom: 0;
}

.skw-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.skw-page__half {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100vh;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.skw-page__half--left {
  left: 0;
  -webkit-transform: translate3d(-32.4vh, 100%, 0);
          transform: translate3d(-32.4vh, 100%, 0);
}

.skw-page__half--right {
  left: 50%;
  -webkit-transform: translate3d(32.4vh, -100%, 0);
          transform: translate3d(32.4vh, -100%, 0);
}

.skw-page.active .skw-page__half {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.skw-page__skewed {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 140%;
  height: 100%;
  -webkit-transform: skewX(-18deg);
          transform: skewX(-18deg);
  background: #000;
}

.skw-page__half--left .skw-page__skewed {
  left: -40%;
}

.skw-page__half--right .skw-page__skewed {
  right: -40%;
}

.skw-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 30%;
  color: #fff;
  -webkit-transform: skewX(18deg);
          transform: skewX(18deg);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
  background-size: cover;
}

.skw-page__half--left .skw-page__content {
  padding-left: 30%;
  padding-right: 30%;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

.skw-page__half--right .skw-page__content {
  padding-left: 30%;
  padding-right: 30%;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.skw-page.inactive .skw-page__content {
  opacity: 0.5;
  -webkit-transform: skewX(18deg) scale(0.95);
          transform: skewX(18deg) scale(0.95);
}

.skw-page__heading {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
}

.skw-page__description {
  font-size: 18px;
  text-align: center;
}

.skw-page__link {
  color: #FFA0A0;
}

.skw-page-1 .skw-page__half--left .skw-page__content {
  background-image: url("../img/04-熱門英雄介紹/弗洛倫-02.jpg");
  background-position: 60% 100%;
}

.skw-page-1 .skw-page__half--right .skw-page__content {
  background: #292929;
}

.skw-page-2 .skw-page__half--left .skw-page__content {
  background: #292929;
}

.skw-page-2 .skw-page__half--right .skw-page__content {
  background-image: url("../img/04-熱門英雄介紹/狄拉克-02.jpg");
  background-position: 60% 100%;
}

.skw-page-3 .skw-page__half--left .skw-page__content {
  background-image: url("../img/04-熱門英雄介紹/亥犽-02.jpg");
  background-position: 50% 100%;
}

.skw-page-3 .skw-page__half--right .skw-page__content {
  background: #292929;
}

.skw-page-4 .skw-page__half--left .skw-page__content {
  background: #292929;
}

.skw-page-4 .skw-page__half--right .skw-page__content {
  background-image: url("../img/04-熱門英雄介紹/刀鋒寶貝-05.jpg");
  background-position: 60% 100%;
  background-size: cover;
}

.skw-page-5 .skw-page__half--left .skw-page__content {
  background-image: url("../img/04-熱門英雄介紹/皮皮-02.jpg");
  background-position: 50% 100%;
}

.skw-page-5 .skw-page__half--right .skw-page__content {
  background: #292929;
}

#section5 {
  height: calc(100vh - 92px);
  background-image: url(../img/08-登入頁面/模糊背景.jpg);
  background-position: center;
  background-size: cover;
  padding: 50px 0 0 0;
}

#section5 .slides .swiper {
  width: 100%;
  overflow: hidden;
}

#section5 .slides .swiper .swiper-container {
  width: 100%;
  height: 100%;
}

#section5 .slides .swiper .swiper-container .swiper-wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

#section5 .slides .swiper .swiper-container .swiper-slide {
  width: 9.375rem;
  height: 18rem;
  background-color: #999999;
  border: 1px solid black;
  -webkit-filter: opacity(90%);
          filter: opacity(90%);
  position: relative;
}

#section5 .slides .swiper .swiper-container .swiper-slide:hover {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

.btn {
  width: 250px;
  background-color: #c19826;
  color: black;
  font-family: "微軟正黑體";
  border: 3px solid white;
  font-size: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 3em #ff0a0a;
          box-shadow: 0 0 3em #ff0a0a;
}

#test {
  width: 380px;
}

.line2pic1 {
  background: url("../img/08-登入頁面/伺服器維護公告-01.jpg") no-repeat center center;
  background-size: cover;
}

.line2pic2 {
  background: url("../img/08-登入頁面/系統公告-02.jpg") no-repeat center center;
  background-size: cover;
}

.line2pic3 {
  background: url("../img/08-登入頁面/賽事公告-02.jpg") no-repeat center center;
  background-size: cover;
}

/* 第一行輪播圖 */
.line1pic1 {
  background: url("../img/08-登入頁面/活動公告-03.jpg") no-repeat center center;
  background-size: cover;
}

.line1pic2 {
  background: url("../img/08-登入頁面/活動公告-02.jpg") no-repeat center center;
  background-size: cover;
}

.line1pic3 {
  background: url("../img/08-登入頁面/活動公告-01.jpg") no-repeat center center;
  background-size: cover;
}

footer {
  width: 100%;
  background-color: #0a1124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

#test :nth-child(3) {
  color: #38a0f9;
}

footer p {
  margin-bottom: 0;
  color: gray;
  text-align: center;
}
/*# sourceMappingURL=熱門英雄.css.map */